{% extends "bootstrap/base.html" %}
{% block title %}Tell us about your skills{% endblock %}


{% block content %}

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form class="form" action="/" method="post">
        <p>
            <label for="linkedin_page">LinkedIN profile</label>
            <input type="text" name="linkedin">
        </p>

        <p>
            <input type="submit">
        </p>
    </form>
{% endblock %}

