<head>

<style>
div.gallery {
   margin: 5px;
   border: 1px solid #ccc;
   float: left;
   width: 600px;
}

div.gallery:hover {
   border: 1px solid #777;
}

div.gallery img {
   width: 100%;
   height: auto;
}

div.desc {
   padding: 15px;
   text-align: center;
}
</style>
</head>
<body>

{% for pic in pics %}

<div class="gallery">
 <a target="_blank" href="{{ pic }}">
   <img src="{{ pic }}" alt="" width="600" height="600">
 </a>
</div>

{% endfor %}

</body>